@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --color-primary: 76 0 194;
    --color-surface: 255 255 255;
  }

  [data-mode="dark"] {
    --color-primary: 12 208 205;
    --color-surface: 76 0 194;
  }
}
